/* css for the contribution.js. */

#login-prompt {
    text-align: right;
    font: menu;
}

.sup-category {
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
    background-color: rgb(216,216,216);
}
.sup-category-first {
    margin-top: 0;
}

.sup-category h2 {
    color: #AAAAAA;
    font: 1.5em 'Arial Black', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.sup-category h2 .how-many {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

.category {
    padding: 0.9em 0.5em 0.9em 0.5em;
    display: flex;
    flex-wrap: wrap;
}

#enter_some_text,
#enter_a_caption,
.contribution {
    font-family: 'Literata', serif;
}

#enter_some_text,
#enter_a_caption,
#post_it_button {
    display: block;
    margin: 0;
}
#enter_some_text {
    width: 18em;
    height: 5em;
}

.container-entry,     /* the textarea and input field for contribution and caption */
.sup-contribution {   /* each container of a contribution and caption */
    display: inline-block;
    vertical-align: top;
    padding: 0.3em 0.5em 0.3em 0.5em;
}
.contribution,
#enter_some_text {
    -webkit-border-top-left-radius: 0.5em;
            border-top-left-radius: 0.5em;
        -moz-border-radius-topleft: 0.5em;
}
.contribution {
    border-color: black;
    border-style: solid;

    padding: 0.7em 0.5em 0.7em 0.5em;
    white-space: pre-line;
    background-color: #EEEEEE;
    border-width: 1px;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    resize: both;
    min-width: 4em;
    min-height: 2em;
    box-sizing: border-box;
    margin: 0.1em 0.1em 0 0.1em;
}

.contribution + .caption-span {
}

.contribution + .caption {
    clear: left;
    background-color: #AAAAAA;
    color: white;
    font: small-caption;
    padding: 0 0.666em 0.1em 0.666em;
}
.sup-contribution .savebar {
    clear: left;
    background-color: transparent;
    visibility: hidden;
}
               .sup-contribution.contribution-edit .savebar,
.dirty-nowhere .sup-contribution:hover             .savebar {
    visibility: visible;
}
/*.sup-contribution                   .caption { margin-bottom: 1.75em; }*/
/*.sup-contribution.contribution-edit .caption { margin-bottom: 0; }*/
/* NOTE:  1.75 was empirically obtained i.e. fudged to be the same as the disappeared savebar. */
/*        So it probably represents savebar-button height in terms of caption font. */

.savebar {
    /*text-align: right;*/
}
.savebar .edit,
.savebar .cancel,
.savebar .discard,
.savebar .save {
    font: small-caption;
    float: right;
}
.savebar.abandon-alert .discard,
.savebar.abandon-alert .save {
    border-color: red;
}

.sup-contribution.contribution-edit       .savebar .edit    { display: none; }
.sup-contribution:not(.contribution-edit) .savebar .cancel  { display: none; }
.sup-contribution.edit-dirty              .savebar .cancel  { display: none; }
.sup-contribution:not(.edit-dirty)        .savebar .save    { display: none; }
.sup-contribution:not(.edit-dirty)        .savebar .discard { display: none; }

.grip {
    cursor: move;
    padding-right: 0.3em;
}

.was-submitted-anonymous .contribution {
    border-color: #C00000;
    background-color: #F4ECEC;
}

.was-submitted-anonymous .caption {
    background-color: #B8A0A0;
}

.double-anon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter:                                    alpha(opacity=50);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                               -khtml-opacity: 0.50;   /* Safari 1.x */
                                                 -moz-opacity: 0.50;   /* Firefox */
                                                      opacity: 0.50;   /* Good browsers */
}
.double-anon-blurb {
    font-family:  'Georgia', 'Garamond', serif;
    font-style: italic;
}

/** qoolbar stuff **/
.contribution.drop-hover,
.contribution.drop-hover.anonymous {
    background-color: white;
    border-width: 2px;
    margin: -1px;
}
.caption      + .qool-bling,
.contribution + .qool-bling {
    margin-top: 0.1em;
    display: block;
}

.drop-hint > div,
.drop-hint > span {
    visibility: hidden;
}
.drop-hint {
    border: dashed #AAAAAA;
}
     .category .drop-hint {                            border-width: 0.25em; }   /* rel to body font */
.frou-category .drop-hint { width: 1em; height: 0.7em; border-width: 0.17em; }   /* rel to H2 font */

.how-many + .drop-hint {
    margin-left: 1em;
}

.closer,
.opener {
    width: 1em;
    display: inline-block;
}
.valve-closed .closer,
.valve-opened .opener,
.valve-hidden {
    display: none;
}
.valve {
    cursor: pointer;
    -webkit-user-select: none;    /*noinspection CssUnknownProperty*/
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* NOTE:  Prevent inadvertent text-selection of triangles. */
}

.contribution-edit .contribution {
    background-color: white;
    border: 0.2em inset;
    padding: 0.5em 0.3em 0.5em 0.3em;
}
