/* css for the contribution.js. */

#up-top {
    height: 1.5rem;   /* SEE:  TOP_SPACER_REM in contribution.js */
    overflow: hidden;
    /* THANKS:  Outer div tall as inner divs, https://stackoverflow.com/a/804936/673991 */
    margin-bottom: 0.1em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 0.1em 0.1em 0 0.1em;
    background-color: white;
}

#status-prompt,
#player-bot {
    float: left;
    text-align: left;
    font: menu;
    margin-right: 1em;
}

#play-button {
    cursor: pointer;
}

#player-bot .material-icons,
.save-bar .material-icons {
    font-size: 1em;
    vertical-align: middle;
}



/* Visibility of global controls */

body                      #close-button { display: none; }
body.pop-up-manual        #close-button { display: inline-block; }

body                      #play-button { display: inline-block; }
body.pop-up-manual        #play-button { display: none; }
body.playing-somewhere    #play-button { display: none; }

body                      #pause-button { display: none; }
body.playing-somewhere    #pause-button { display: inline-block; }
body.pausing-somewhere    #pause-button { display: none; }

body                      #resume-button { display: none; }
body.playing-somewhere    #resume-button { display: none; }
body.pausing-somewhere    #resume-button { display: inline-block; }

body                      #stop-button { display: none; }
body.playing-somewhere    #stop-button { display: inline-block; }

body                      #skip-button { display: none; }
body.playing-somewhere    #skip-button { display: inline-block; }

body                      #play_bot_sequence { display: inline-block }
body.pop-up-manual        #play_bot_sequence { display: none }
body.pop-up-auto          #play_bot_sequence { display: none }

body                      #play_bot_from { display: inline-block }
body.pop-up-manual        #play_bot_from { display: none }
body.pop-up-auto          #play_bot_from { display: none }

body                      #play_bot_speech { display: inline-block }
body.pop-up-manual        #play_bot_speech { display: none }
body.pop-up-auto          #play_bot_speech { display: none }

select#thumb-res        { text-align-last: right; margin-right: 0.1em; }
select#thumb-res option { direction: rtl; }
/* THANKS:  right-justified select options, with drop-down arrow on the right also,
            https://stackoverflow.com/a/43919388/673991 */



#top-right-blurb,
#login-prompt {
    float: right;
    text-align: right;
    font: menu;
    padding-left: 1em;
}

.sup-category {
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
    background-color: rgb(216,216,216);
    /** NOTE:  Must not give .sup-category nor .category position.  That would break the stacking
      *        context shared between .sup-contribution and #popup-screen.  That stacking context
      *        is required for #popup-screen to get BETWEEN the popped-up contribution and all other
      *        contributions (in the z-index order) without itself being inside any category.
      */
}
.sup-category-first {
    margin-top: 1.5rem;   /* TOP_SPACER_REM */
}

.sup-category h2 {
    color: #AAAAAA;
    font: 1.5em 'Arial Black', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.sup-category h2 .how-many {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

.category {
    padding: 0.9em 0.5em 0.9em 0.5em;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /* NOTE:  The only benefit I could find to flex wrapping over display inline-block was that the
              unrendered div assumed the full height of its line.  The penalty though is I can't
              force a wrap by making a popped up contribution display block.  */
}

#enter_some_text,
#enter_a_caption,
.contribution {
    font-family: 'Literata', serif;
}

#enter_some_text,
#enter_a_caption{
    display: block;
    margin: 0;
}
#enter_some_text {
    width: 18em;
    height: 5em;
}
#entry_feedback {
    color: #C00000;
    margin-left: 1em;
}

.container-entry,     /* the textarea and input field for contribution and caption */
.sup-contribution {   /* each container of a contribution and caption */
    display: inline-block;
    vertical-align: top;
    padding: 0.3em 0.5em 0.3em 0.5em;   /* SEE:  sup_pad_left in contribution.js */
    z-index: 0;
    position: relative;
}
#popup-screen {
    position: fixed;
    z-index: 1;
    top: 1.5rem;   /* TOP_SPACER_REM */
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    display: none;   /* to be overridden by .fadeIn() and .fadeOut() affecting element styles */
}
.pop-up.sup-contribution {
    z-index: 2;
    /*pointer-events: none;*/
    /**
     * THANKS:  Transparent to clicks, https://stackoverflow.com/a/4839672/673991
     *          This is required in the stoopid confluence of events where a particular kind of
     *          popped up text quote hogs the left with margin (which is already transparent to
     *          clicks) but hogs the right with content.  The particular kind is a quote that
     *          (before popped up) happens to lay on the right of the screen, so it's given
     *          .pop-up-block class and display:block property.  See is_right_of_where_we_want_it.
     */
}
.pop-up.sup-contribution .contribution {
    pointer-events: all;
}
.contribution,
#enter_some_text {
    -webkit-border-top-left-radius: 0.5em;
            border-top-left-radius: 0.5em;
        -moz-border-radius-topleft: 0.5em;
}
.failed-post {
    color: red;
    border-color: red;
    background-color: #FFE0E0;
}
/* NOTE:  This indicates the server is down and the post can't be saved.
          It is a more severe reddening than the dirty-post abandon-alert red border
          (e.g. from entering a quote then unloading the page).
*/

.contribution {
    white-space: pre-line/* !important*/;
    /* TODO:  Should this be important or not?
              Sometimes "playing" text caused the hard-returns to melt away. */
}
.contribution {
    border-color: black;
    border-style: solid;

    background-color: #EEEEEE;
    border-width: 1px;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    resize: both;
    min-width: 4em;
    min-height: 2em;
    box-sizing: border-box;
    /*margin: 0.1em 0.1em 0 0.1em;*/
    line-height: 1.3em;   /* slightly closer together */
}
.was-submitted-anonymous .contribution {
    border-color: #C00000;
    background-color: #F4ECEC;
}
.contribution-edit .contribution {
    background-color: white;
    /* NOTE:  This should come after was-submitted-anonymous, to override it.
              The white background is a visual cue that the content is editable. */

    display: inline-block;
}
.sup-contribution                                .contribution { display:block; }
.sup-contribution.pop-up                         .contribution { display:inline-block; }
.sup-contribution.render-media                   .contribution { display:none; }
.sup-contribution.contribution-edit              .contribution { display:inline-block; }
.sup-contribution.contribution-edit.render-media .contribution { display:inline-block; }
/* THANKS:  Avoid Chrome LF-to-div conversion,
            https://stackoverflow.com/a/24689420/673991 */
/* NOTE:  The above inline-block setting prevents Chrome's dumb reaction to hard returns,
          creating <div> elements when there are two consecutive, as if making paragraphs.
          to represent hard returns.
          Minor side effect, an unsightly gap between contribution and caption.
   TODO:  Major side effect, it causes the whole (outer) <div> to creep up and down
          across the screen, as if position-relative top were changing.
          Both side effects may be a reaction to overflow: auto
   SEE:  work_around_jumpy_contenteditable_chrome_bug()
 */
/* SEE:  More Chrome contenteditable issues, https://stackoverflow.com/q/6023307/673991 */
/* NOTE:  The .pop-up case fixes when popping up a quote, where the whole thing has to move left so
          .sup-contribution became display:block to sit on its own line.  Without this, text
          stretches to the right margin. Not sure why .contribution needs to be display:block
          otherwise.
 */

.sup-contribution                                .render-bar { display:none; }
.sup-contribution.render-media                   .render-bar { display:block; }
.sup-contribution.contribution-edit              .render-bar { display:none; }
.sup-contribution.contribution-edit.render-media .render-bar { display:none; }
/* NOTE:  .render-media was display:inline-block, so that its width would be natural,
          and a too-wide save-bar could be detected.  But then twitter render-bars have
          an unsightly gap below them, above the caption-bar.  So back to display:block.*/

.render-bar img.thumb {
    vertical-align: top;
    /* THANKS:  Remove descender gap, https://stackoverflow.com/a/26608149/673991 */
}

.thumb-loading {   /* expected aspect ratio of youtube thumbnails, half typical mq 320x180 */
    width: 160px;
    height: 90px;
}

.thumb-loaded {   /* constraining box for fully loaded media thumbnails and iframe */
    max-width: 160px;
    max-height: 128px;
}

                   .contribution { padding: 0.5em 0.5em 0.7em 0.5em; }
.contribution-edit .contribution { padding: 0.3em 0.3em 0.5em 0.3em; border: 0.2em inset; }

.noembed-error .render-bar {
    background-color: #FFF8F0;
}

.noembed-error .error-message {
    padding: 0.5em;
    margin: 0;
}

#popup-screen .caption-bar {
    background-color: #777777;
}

.caption-bar {
    clear: left;
    background-color: #AAAAAA;
    color: white;
    font: small-caption;
    line-height: 1.4;
}

/* FALSE WARNING:  Unknown CSS property '-ms-transition' */
/* noinspection CssUnknownProperty */
.pop-up .caption-bar {
    background-color: #666666;   /* Darker, to contrast the .pop-screen obscured body background */
    -webkit-transition: background-color 0.5s linear;
       -moz-transition: background-color 0.5s linear;
        -ms-transition: background-color 0.5s linear;
         -o-transition: background-color 0.5s linear;
            transition: background-color 0.5s linear;
    /* TODO:  Transition popping down too, but start it at the beginning of popping down, somehow.
     *        e.g. a .popping-down class for the .sup-contribution
     */
}
.render-media .caption-bar {
    -webkit-border-bottom-left-radius: 0.7em;
            border-bottom-left-radius: 0.7em;
        -moz-border-radius-bottomleft: 0.7em;
   -webkit-border-bottom-right-radius: 0.7em;
           border-bottom-right-radius: 0.7em;
       -moz-border-radius-bottomright: 0.7em;
}
.was-submitted-anonymous .caption-bar {
    background-color: #B8A0A0;
}
.contribution-edit .caption-bar {
    /* NOTE:  This should come after was-submitted-anonymous, so as to override it. */
    background-color: #666666;
}
                   .caption-bar { padding: 0 0.666em 0.3em 0.666em; }
.contribution-edit .caption-bar { padding: 0 0.566em 0.2em 0.566em; border: 0.1em inset; }

.sup-contribution .save-bar {
    clear: left;
    background-color: transparent;
    visibility: hidden;
    /*overflow: hidden;*/
    /* NOTE:  overflow hidden is SUPPOSED to give save-bar the height of its floating contents
              but in pop_up() $save_bar.height() was still zero.
              See https://stackoverflow.com/a/5369963/673991
    */
    overflow: auto;
    /* THANKS:  make outer big as inner, https://stackoverflow.com/a/8464523/673991 */
}

               .sup-contribution.contribution-edit .save-bar,
.dirty-nowhere .sup-contribution:hover             .save-bar {
    visibility: visible;
}

.save-bar button,
.save-bar .among-buttons {
    vertical-align: middle;
}

.save-bar button {
    font: small-caption;
    cursor: pointer;
}
.save-bar .play,
.save-bar .expand {
    float: left;
}
.save-bar .edit,
.save-bar .cancel,
.save-bar .discard,
.save-bar .save {
    float: right;
}
.save-bar.abandon-alert .discard,
.save-bar.abandon-alert .save {
    border-color: red;
}
#post_it_button.abandon-alert {
    border-color: red;
    /* NOTE:  Less severe than failed-post which reddens the whole button. */
}



/* Visibility of individual contribution controls */

.sup-contribution.pop-up                         .save-bar .edit    { visibility:hidden; }
.sup-contribution.contribution-edit              .save-bar .edit    { display: none; }
body.playing-somewhere                           .save-bar .edit    { visibility:hidden; }
.sup-contribution:not(.contribution-edit)        .save-bar .cancel  { display: none; }
.sup-contribution.edit-dirty                     .save-bar .cancel  { display: none; }
.sup-contribution:not(.edit-dirty)               .save-bar .save    { display: none; }
.sup-contribution:not(.edit-dirty)               .save-bar .discard { display: none; }

.sup-contribution                                .save-bar   .play { display: inline-block; }
.sup-contribution.contribution-edit              .save-bar   .play { display: none; }
body.playing-somewhere                           .save-bar   .play { visibility:hidden; }
.sup-contribution.pop-up                         .save-bar   .play { visibility:hidden; }
.sup-contribution.cant-play                      .save-bar   .play { display: none; }

.sup-contribution                                .save-bar   .expand { display: inline-block; }
.sup-contribution.contribution-edit              .save-bar   .expand { display: none; }
body.playing-somewhere                           .save-bar   .expand { visibility:hidden; }
.sup-contribution.pop-up                         .save-bar   .expand { visibility:hidden; }
.sup-contribution.noembed-error                  .save-bar   .expand { display: none; }

.sup-contribution.can-play                       .save-bar   .expand span { display: none; }
/* NOTE:  Hide the "bigger" label (but show the icon) to make room for the "play" label. */

.sup-contribution                                .save-bar   .external-link { display: none; }
.sup-contribution.render-media                   .save-bar   .external-link { display: inline-block; }
.sup-contribution.render-media.noembed-error     .save-bar   .external-link { display: none; }
.sup-contribution.render-media.contribution-edit .save-bar   .external-link { display: none; }
body.playing-somewhere                           .save-bar   .external-link { visibility:hidden; }
.sup-contribution.pop-up                         .save-bar   .external-link { visibility:hidden; }

/* NOTE:  The .pop-up { visibility:hidden } settings above (instead of display:none) help the pop-up
          animation start with the correct size of the thumbnail, where the whole save-bar is
          visibility-hidden (i.e. taking up space) until hovering. */

/* NOTE:  The .playing-somewhere { visibility:hidden } settings above (instead of display:none)
          help the Bot disable all buttons on individual contributions, while not disrupting
          the layout, which would cause contributions to reflow. */

.grip {
    cursor: move;
    padding-right: 0.3em;
}
.grip.inoperative {
    cursor: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter:                                    alpha(opacity=50);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                               -khtml-opacity: 0.50;   /* Safari 1.x */
                                                 -moz-opacity: 0.50;   /* Firefox */
                                                      opacity: 0.50;   /* Good browsers */
    /* Fade the grip; you can't grab and drag a pop-up. */
}

.pop-down {
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: silver transparent transparent silver;*/
    /*margin: -2px;*/
    /* NOTE:  The border here caused a little jump in the pop-up and pop-down animations */
    background-color: rgb(200,200,200);
    -webkit-border-radius: 0.7em;
       -moz-border-radius: 0.7em;
            border-radius: 0.7em;
}

.pop-down > * {
    visibility: hidden;
}

.double-anon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter:                                    alpha(opacity=50);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                               -khtml-opacity: 0.50;   /* Safari 1.x */
                                                 -moz-opacity: 0.50;   /* Firefox */
                                                      opacity: 0.50;   /* Good browsers */
    /* Fade the message to anonymous users, that they can't see other anonymous contributions. */
}

#anon-v-anon-blurb {
    font-family:  'Georgia', 'Garamond', serif;
    font-style: italic;
    color: black;  /* which will look gray because 50% opacity */
}

#top-right-blurb {
}

#introductory-blurb {
    font-family:  'Georgia', 'Garamond', serif;
    font-style: italic;
    color: gray;
}

#top-right-blurb #introductory-blurb {
    font-size: 110%;
    margin: 0;
}

.sup-category #introductory-blurb {
    font-size: 1.5em;
    padding: 0 3em 0 3em;
    display: inline-block;
}

#top-right-blurb #introductory-blurb img {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;   /* TOP_SPACER_REM */
}

.sup-category #introductory-blurb img {
    vertical-align: middle;
}

/** qoolbar stuff **/
.contribution.drop-hover,
.contribution.drop-hover.anonymous {
    background-color: white;
    border-width: 2px;
    margin: -1px;
}
.caption-bar  + .qool-bling,
.contribution + .qool-bling {
    margin-top: 0.1em;
    display: block;
}

.drop-hint > div,
.drop-hint > span {
    visibility: hidden;
}
.drop-hint {
    border: dashed #AAAAAA;
}
     .category .drop-hint {                            border-width: 0.25em; }   /* rel to body font */
.frou-category .drop-hint { width: 1em; height: 0.7em; border-width: 0.17em; }   /* rel to H2 font */

.frou-category {
    position: relative;
    z-index: 0;
}
.how-many + .drop-hint {
    margin-left: 1em;
}

.closer,
.opener {
    width: 1em;
    display: inline-block;
}
.valve-closed .closer,
.valve-opened .opener,
.valve-hidden {
    display: none;
}
.valve {
    cursor: pointer;
    -webkit-user-select: none;    /*noinspection CssUnknownProperty*/
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* NOTE:  Prevent inadvertent text-selection of triangles. */
}

iframe { display:block; }
/* THANKS:  Remove space at bottom of a div with an iframe in it,
            https://stackoverflow.com/a/21025344/673991 */

.render-bar iframe,
.render-bar img.thumb,
.noembed-error .render-bar {
    border: 1px solid black;
    -webkit-border-top-left-radius: 0.7em;
        -moz-border-radius-topleft: 0.7em;
            border-top-left-radius: 0.7em;
   -webkit-border-top-right-radius: 0.7em;
       -moz-border-radius-topright: 0.7em;
           border-top-right-radius: 0.7em;
}
.noembed-error .render-bar {
    border-color: #AAAAAA;
}

.unrendered {
    background-color: rgba(0,0,0,0.08);
    -webkit-border-radius: 0.7em;
       -moz-border-radius: 0.7em;
            border-radius: 0.7em;
    padding: 2em 1em 2em 1em;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.unrendered-count {
    padding-bottom: 1em;
}
.unrendered-arrow {
    color: #888888;
}
.unrendered.zero {
    display:none;
}

.talkify-sentence-highlight {
}

.text-animate .pop-up .contribution .talkify-word-highlight,
.text-animate .speaking {
    /*transition: font-size 1s;*/
    font-size: 1.5em;
    font-weight: bold;
    /* TODO:  Animate text size somehow?
       SEE:  Inline elements can't be transformed, https://stackoverflow.com/q/14883250/673991 */

    display: inline-block;
    border: 1px solid silver;
    padding: 3px;
    background-color: white;
    line-height: 66%;
}

#talkify-audio {
    position: fixed;
    bottom: 0;
}
.pop-up-block {
    /* This pop-up needs its own line, as if hard returns before and after. */
    display: block;
}
