/* css for the contribution.js. */

#up-top {
    overflow: hidden;
    /* THANKS:  Outer div tall as inner divs, https://stackoverflow.com/a/804936/673991 */
    margin-bottom: 0.1em;
}

#status-prompt,
#player-bot {
    float: left;
    text-align: left;
    font: menu;
    margin-right: 1em;
}

#play-button {
    cursor: pointer;
}

#player-bot .material-icons {
    font-size: 1em;
    vertical-align: middle;
}

body                    #play-button { display: inline-block; }
body.player-bot-playing #play-button { display: none; }

body                    #pause-button { display: none; }
body.player-bot-playing #pause-button { display: inline-block; }
body.player-bot-pausing #pause-button { display: none; }

body                    #resume-button { display: none; }
body.player-bot-playing #resume-button { display: none; }
body.player-bot-pausing #resume-button { display: inline-block; }

body                    #stop-button { display: none; }
body.player-bot-playing #stop-button { display: inline-block; }

body                    #skip-button { display: none; }
body.player-bot-playing #skip-button { display: inline-block; }

select#thumb-res        { text-align-last: right; margin-right: 0.1em; }
select#thumb-res option { direction: rtl; }
/* THANKS:  right-justified select options, with drop-down arrow on the right also,
            https://stackoverflow.com/a/43919388/673991 */

#login-prompt {
    float: right;
    text-align: right;
    font: menu;
}

.sup-category {
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
    background-color: rgb(216,216,216);
}
.sup-category-first {
    margin-top: 0;
}

.sup-category h2 {
    color: #AAAAAA;
    font: 1.5em 'Arial Black', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.sup-category h2 .how-many {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

.category {
    padding: 0.9em 0.5em 0.9em 0.5em;
    display: flex;
    flex-wrap: wrap;
}

#enter_some_text,
#enter_a_caption,
.contribution {
    font-family: 'Literata', serif;
}

#enter_some_text,
#enter_a_caption{
    display: block;
    margin: 0;
}
#enter_some_text {
    width: 18em;
    height: 5em;
}
#entry_feedback {
    color: #C00000;
    margin-left: 1em;
}

.container-entry,     /* the textarea and input field for contribution and caption */
.sup-contribution {   /* each container of a contribution and caption */
    display: inline-block;
    vertical-align: top;
    padding: 0.3em 0.5em 0.3em 0.5em;
}
.contribution,
#enter_some_text {
    -webkit-border-top-left-radius: 0.5em;
            border-top-left-radius: 0.5em;
        -moz-border-radius-topleft: 0.5em;
}
.failed-post {
    color: red;
    border-color: red;
    background-color: #FFE0E0;
}
/* NOTE:  This indicates the server is down and the post can't be saved.
          It is a more severe reddening than the dirty-post abandon-alert red border
          (e.g. from entering a quote then unloading the page).
*/

.contribution {
    white-space: pre-line/* !important*/;
    /* TODO:  Should this be important or not?
              Sometimes "playing" text caused the hard-returns to melt away. */
}
.contribution {
    border-color: black;
    border-style: solid;

    background-color: #EEEEEE;
    border-width: 1px;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    resize: both;
    min-width: 4em;
    min-height: 2em;
    box-sizing: border-box;
    /*margin: 0.1em 0.1em 0 0.1em;*/
    line-height: 1.3em;   /* slightly closer together */
}
.was-submitted-anonymous .contribution {
    border-color: #C00000;
    background-color: #F4ECEC;
}
.contribution-edit .contribution {
    background-color: white;
    /* NOTE:  This should come after was-submitted-anonymous, to override it.
              The white background is a visual cue that the content is editable. */

    display: inline-block;
}

.sup-contribution                                .contribution { display:block; }
.sup-contribution.render-media                   .contribution { display:none; }
.sup-contribution.contribution-edit              .contribution { display:inline-block; }
.sup-contribution.contribution-edit.render-media .contribution { display:inline-block; }

    /* THANKS:  Avoid Chrome LF-to-div conversion,
                https://stackoverflow.com/a/24689420/673991 */
    /* NOTE:  The above inline-block setting prevents Chrome's dumb reaction to hard returns,
              creating <div> elements when there are two consecutive, as if making paragraphs.
              to represent hard returns.
              Minor side effect, an unsightly gap between contribution and caption.
       TODO:  Major side effect, it causes the whole (outer) <div> to creep up and down
              across the screen, as if position-relative top were changing.
              Both side effects may be a reaction to overflow: auto
       SEE:  work_around_jumpy_contenteditable_chrome_bug()
     */
    /* SEE:  More Chrome contenteditable issues, https://stackoverflow.com/q/6023307/673991 */

.sup-contribution                                .render-bar { display:none; }
.sup-contribution.render-media                   .render-bar { display:block; }
.sup-contribution.contribution-edit              .render-bar { display:none; }
.sup-contribution.contribution-edit.render-media .render-bar { display:none; }

.render-bar img.thumb {
    vertical-align: top;
    /* THANKS:  Remove descender gap, https://stackoverflow.com/a/26608149/673991 */
}

.thumb-loading {   /* expected aspect ratio of youtube thumbnails, half typical mq 320x180 */
    width: 160px;
    height: 90px;
}

.thumb-loaded {   /* constraining box for fully loaded media thumbnails and iframe */
    max-width: 160px;
    max-height: 128px;
}

                   .contribution { padding: 0.5em 0.5em 0.7em 0.5em; }
.contribution-edit .contribution { padding: 0.3em 0.3em 0.5em 0.3em; border: 0.2em inset; }

.oembed-error {
    background-color: #FFF8F0;
    padding: 8px;
}

.caption-bar {
    clear: left;
    background-color: #AAAAAA;
    color: white;
    font: small-caption;
    line-height: 1.4;
}
.render-media .caption-bar {
    -webkit-border-bottom-left-radius: 0.7em;
            border-bottom-left-radius: 0.7em;
        -moz-border-radius-bottomleft: 0.7em;
   -webkit-border-bottom-right-radius: 0.7em;
           border-bottom-right-radius: 0.7em;
       -moz-border-radius-bottomright: 0.7em;
}
.was-submitted-anonymous .caption-bar {
    background-color: #B8A0A0;
}
.contribution-edit .caption-bar {
    /* NOTE:  This should come after was-submitted-anonymous, so as to override it. */
    background-color: #666666;
}
                   .caption-bar { padding: 0 0.666em 0.3em 0.666em; }
.contribution-edit .caption-bar { padding: 0 0.566em 0.2em 0.566em; border: 0.1em inset; }

.sup-contribution .save-bar {
    clear: left;
    background-color: transparent;
    visibility: hidden;
    /*overflow: hidden;*/
    /* NOTE:  overflow hidden is SUPPOSED to give save-bar the height of its floating contents
              but in pop_up() $save_bar.height() was still zero.
              See https://stackoverflow.com/a/5369963/673991
    */
    overflow: auto;
    /* THANKS:  make outer big as inner, https://stackoverflow.com/a/8464523/673991 */
}

               .sup-contribution.contribution-edit .save-bar,
.dirty-nowhere .sup-contribution:hover             .save-bar {
    visibility: visible;
}

.save-bar button {
    font: small-caption;
    cursor: pointer;
}
.save-bar .full,
.save-bar .unfull {
    float: left;
}
.save-bar .edit,
.save-bar .cancel,
.save-bar .discard,
.save-bar .save {
    float: right;
}
.save-bar.abandon-alert .discard,
.save-bar.abandon-alert .save {
    border-color: red;
}
#post_it_button.abandon-alert {
    border-color: red;
    /* NOTE:  Less severe than failed-post which reddens the whole button. */
}

.sup-contribution.pop-up                  .save-bar .edit    { display: none; }
.sup-contribution.contribution-edit       .save-bar .edit    { display: none; }
body.player-bot-playing                   .save-bar .edit    { display: none; }
.sup-contribution:not(.contribution-edit) .save-bar .cancel  { display: none; }
.sup-contribution.edit-dirty              .save-bar .cancel  { display: none; }
.sup-contribution:not(.edit-dirty)        .save-bar .save    { display: none; }
.sup-contribution:not(.edit-dirty)        .save-bar .discard { display: none; }

.sup-contribution                         .save-bar   .full { display: inline-block; }
.sup-contribution.contribution-edit       .save-bar   .full { display: none; }
body.player-bot-playing                   .save-bar   .full { display: none; }
.sup-contribution.pop-up                  .save-bar   .full { display: none; }

.sup-contribution                         .save-bar .unfull { display: none; }
.sup-contribution.pop-up                  .save-bar .unfull { display: inline-block; }

.grip {
    cursor: move;
}

.grip,
.grip-inoperative {
    padding-right: 0.3em;
}

.pop-down {
    visibility: hidden;
}

.double-anon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter:                                    alpha(opacity=50);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                               -khtml-opacity: 0.50;   /* Safari 1.x */
                                                 -moz-opacity: 0.50;   /* Firefox */
                                                      opacity: 0.50;   /* Good browsers */
}

#anon-v-anon-blurb {
    font-family:  'Georgia', 'Garamond', serif;
    font-style: italic;
    color: black;  /* which will look gray because 50% opacity */
}

#drag-to-my-blurb {
    font-family:  'Georgia', 'Garamond', serif;
    font-style: italic;
    color: gray;
    display: inline-block;
    padding: 0 3em 0 3em;
}

/** qoolbar stuff **/
.contribution.drop-hover,
.contribution.drop-hover.anonymous {
    background-color: white;
    border-width: 2px;
    margin: -1px;
}
.caption-bar  + .qool-bling,
.contribution + .qool-bling {
    margin-top: 0.1em;
    display: block;
}

.drop-hint > div,
.drop-hint > span {
    visibility: hidden;
}
.drop-hint {
    border: dashed #AAAAAA;
}
     .category .drop-hint {                            border-width: 0.25em; }   /* rel to body font */
.frou-category .drop-hint { width: 1em; height: 0.7em; border-width: 0.17em; }   /* rel to H2 font */

.how-many + .drop-hint {
    margin-left: 1em;
}

.closer,
.opener {
    width: 1em;
    display: inline-block;
}
.valve-closed .closer,
.valve-opened .opener,
.valve-hidden {
    display: none;
}
.valve {
    cursor: pointer;
    -webkit-user-select: none;    /*noinspection CssUnknownProperty*/
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* NOTE:  Prevent inadvertent text-selection of triangles. */
}

iframe { display:block; }
/* THANKS:  Remove space at bottom of a div with an iframe in it,
            https://stackoverflow.com/a/21025344/673991 */

.render-bar iframe,
.render-bar img.thumb {
    border: 1px solid black;
    -webkit-border-top-left-radius: 0.7em;
            border-top-left-radius: 0.7em;
        -moz-border-radius-topleft: 0.7em;
   -webkit-border-top-right-radius: 0.7em;
           border-top-right-radius: 0.7em;
       -moz-border-radius-topright: 0.7em;
}

.talkify-sentence-highlight {
}

.pop-up .contribution {
    transition: font-size 1s;
}

.pop-up .contribution .talkify-word-highlight,
.speaking {
    transition: font-size 1s;
    font-size: 150%;
    font-weight: bold;
    /* TODO:  Animate text size somehow?
       SEE:  Inline elements can't be transformed, https://stackoverflow.com/q/14883250/673991 */

    display: inline-block;
    border: 1px solid silver;
    padding: 3px;
    background-color: white;
    line-height: 66%;
}

#talkify-audio {
    position: fixed;
    bottom: 0;
}
