/* embed_content.css - for oembed iframe */

body *:first-child {
    display: block;
    /* NOTE:  Avoid gap at bottom of iframe. */
}

body {
    margin: 0;
    /* NOTE:  The padding in the embedded elements is enough. */
}

              .twitter-tweet { background-color: white; }
twitter-widget.twitter-tweet { background-color: transparent; }
/* NOTE:  Head start on tweet text having opaque background.  Avoids text overlap while loading.
          But only works in some intermediate stage where the .twitter-tweet class element
          is not yet a twitter-widget. */

.twitter-tweet {   /* <twitter-widget> in most browsers, <iframe> in IE11 */
    margin-top:    0 !important;
    margin-bottom: 0 !important;
    /* NOTE:  Eliminate margins in the element's style */

    overflow: auto;
    /* NOTE:  scrollbars if needed, hopefully only overflow-y */
}

.instagram-media {
    overflow: auto;
    /* NOTE:  scrollbars if needed, hopefully only overflow-y */
}

.oembed-error {
    background-color: #FFF8F0;
    margin: 0;
    padding: 1em;
}

.oembed-thumb {
    display: block;
    /* NOTE:  Avoid gap at bottom of iframe. */
    border: 0;
}

.EmbeddedTweet {
}