/* meta_lex.css */

body {
    margin: 8px;
}
ol.lex-list {
    padding-inline-start: 48px;
    /*counter-reset: list;*/
}
ol.lex-list > li.srend {
    /*list-style: none;*/
    /*position: relative;*/
}
ol.lex-list > li.srend:before {
    /*content: attr(id);*/
    /*counter-increment: list;*/
    /*position: absolute;*/
    /*text-align: right;*/
    /*left: -1.4em;*/
}

#login-prompt {
    text-align: right;
}

.srend img {
    width: 1em;
    height: 1em;
}

.wrend .named.anonymous {
    background-color: #FFDDDD;   /* pink = anonymous */
}

.wrend .named.lex,
.wrend .named.sbj-lex,
.wrend.vrb .named.sbj-lex {
    background-color: #DDFFDD;   /* green = lex defined this word */
}

.wrend .named.session,
.wrend .named.hit,
.wrend.vrb .named.session,
.wrend.vrb .named.hit {
    background-color: #FFFFDD;   /* yellow = session # or hit # */
}

.wrend .named.empty,
.wrend .named.un-lexed {
    background-color: #FFDDFF;   /* pink = unexpectedly empty txt, unable to describe. */
}

.wrend a .named,
.wrend a .named.sbj-lex {
    background-color: #DDDDFF;   /* blue = link to a path */
}

.wrend .named {
    border: 1px solid silver;
    padding: 0 2px 2px 2px;
    font: status-bar;
    line-height: 12px;
    display: inline-block;
    background-color: white;
}

.wrend.vrb:before {
    content: "-";
}

.wrend.obj:before {
    content: "-";
}

.wrend.vrb .named {
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;   /*noinspection CssUnknownProperty*/
       -o-border-radius: 0.5em;
          border-radius: 0.5em;
}

.srend .txt {
    font-family: Verdana, sans-serif;
    margin-left: 0.66em;
}
.srend .txt:empty {
    margin-left: 0;
}

.srend .whn {
    height: 1.0em;
    width: 1.0em;
    padding: 0 0.25em 0 0.2em;
    border: 0.05em solid #CCCCCC;
    color: #888888;
    font-family: "Arial Narrow", sans-serif;
    font-size: 0.7em;
    background: white;
    text-align: center;

    margin-left: 0.66em;

    -webkit-box-shadow: .15em .15em .20em rgba(0,0,0,0.1);
       -moz-box-shadow: .15em .15em .20em rgba(0,0,0,0.1);   /*noinspection CssUnknownProperty*/
        -ms-box-shadow: .15em .15em .20em rgba(0,0,0,0.1);
         -o-box-shadow: .15em .15em .20em rgba(0,0,0,0.1);
            box-shadow: .15em .15em .20em rgba(0,0,0,0.1);
}
.srend .whn.seconds,
.srend .whn.minutes,
.srend .whn.hours {
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;   /*noinspection CssUnknownProperty*/
       -o-border-radius: 0.5em;
          border-radius: 0.5em;

    border-bottom-width: 0.2em;  /* like a clock face */
}

.srend .whn.days,
.srend .whn.months,
.srend .whn.years {
    border-top-width: 0.2em;   /* like a day calendar page */
}

.referrer {
    font-family: "Arial Narrow", sans-serif;
    font-size: 0.7em;
    margin-left: 0.66em;
}

.whn-delta {
    position: absolute;
    left: -56px;
    top: +0.60em;
    height: 1.20em;
    width: 52px;
}

.whn-label {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 0.6em;
}
.hide {
    display: none;
}
.srend {
    position: relative;
}
.delta-triangle {
    position: absolute;
    left: -50px;
    top: -0.77em;
}
.delta-amount {
    position: absolute;
    left: -47px;
    top: -0.66em;
}

.delta-triangle         { color: #FFFFFF; }  /* in case of new units_long values */
.delta-triangle.zero    { color: #D8D8D8; font-size: 1.0em; }
.delta-triangle.subsec  { color: #D8D8D8; font-size: 1.0em; }
.delta-triangle.seconds { color: #C8C8C8; font-size: 1.0em; }
.delta-triangle.minutes { color: #B8B8B8; font-size: 1.5em; }
.delta-triangle.hours   { color: #989898; font-size: 2.0em; left: -51px; }
.delta-triangle.days    { color: #787878; font-size: 2.5em; left: -52px; top: -0.82em; }
.delta-triangle.months  { color: #585858; font-size: 3.0em; left: -53px; top: -0.84em; }
.delta-triangle.years   { color: #383838; font-size: 3.5em; left: -54px; top: -0.85em; }

.delta-amount {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 0.6em;
}
.delta-amount.zero,
.delta-amount.subsec {
    display: none;
}
.delta-amount.seconds,
.delta-amount.minutes {
    color: #000000;
}
.delta-amount.hours,
.delta-amount.days,
.delta-amount.months,
.delta-amount.years {
    color: #FFFFFF;
}

.srend.delta-zero    { }
.srend.delta-subsec  { }
.srend.delta-seconds { }
.srend.delta-minutes { }
.srend.delta-hours   { border-top: 1px solid #C0C0C0; }
.srend.delta-days    { border-top: 3px solid #808080; }
.srend.delta-months  { border-top: 5px solid #404040; }
.srend.delta-years   { border-top: 7px solid #000000; }

.srend               { border-top: 1px solid transparent; }

.wrend {
    position: relative;
}
img.iconify {
    vertical-align: middle;
    margin: -1em 0 -1em 0;
    /* THANKS:  img won't increase line height, https://stackoverflow.com/a/26823180/673991 */
}

.txt.refer-other {
    color: #AA5500;
}