/* css for the unslumping application - contributions and categories. */

#login-prompt {
    text-align: right;
    font: menu;
}

h1, h2, h3, h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.sup-category {
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
    background-color: rgb(216,216,216);
}
.sup-category-first {
    margin-top: 0;
}

.category {
    padding: 0.9em 0.5em 0.9em 0.5em;
}

#text_ump,
#caption_ump,
.contribution {
    font-family: 'Literata', serif;
}

#text_ump,
#caption_ump,
#enter_ump {
    display: block;
    margin: 0;
}
#text_ump {
    width: 18em;
    height: 5em;
}

.container-entry,     /* the textarea and input field for contribution and caption */
.sup-contribution {   /* each container of a contribution and caption */
    display: inline-block;
    vertical-align: top;
    padding: 0.3em 0.5em 0.3em 0.5em;
}
.contribution,
#text_ump {
    -webkit-border-top-left-radius: 0.5em;
            border-top-left-radius: 0.5em;
        -moz-border-radius-topleft: 0.5em;
}
.contribution {
    border-color: black;
    border-style: solid;

    padding: 0.7em 0.5em 0.7em 0.5em;
    white-space: pre-line;
    background-color: #EEEEEE;
    border-width: 1px;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    resize: both;
    min-width: 4em;
    min-height: 2em;
    box-sizing: border-box;
}

.contribution + .caption {
    clear: left;
    background-color: #AAAAAA;
    color: white;
    font: small-caption;
    padding: 0 0.666em 0.1em 0.666em;
    /* THANKS:  Ellipsis requirements, https://stackoverflow.com/a/17783233/673991 */
}

.anonymous .contribution {
    border-color: #C00000;
    background-color: #F4ECEC;
}

.anonymous .caption {
    background-color: #B8A0A0;
}

/** Vestigial stuff for unslumping_home_obsolete() **/
.deleted_hide,
.spam_hide,
.anonymous_hide {
    display: none;
}
input:disabled + label {
    color: #AAAAAA;
}
/* THANKS:  Disabled label, https://stackoverflow.com/a/19363036/673991 */

/** qoolbar stuff **/
.contribution.drop-hover,
.contribution.drop-hover.anonymous {
    background-color: white;
    border-width: 2px;
    margin: -1px;
}
.caption + .qool-bling,
.contribution + .qool-bling {
    margin-top: 0.1em;
    display: block;
}

.anon-blurb {
    font-family:  'Georgia', 'Garamond', serif;
    font-style: italic;
}

.grip {
    cursor: move;
    padding-right: 0.3em;
}

.sup-category h2 {
    color: #AAAAAA;
    font: 1.5em 'Arial Black', sans-serif;
}

.sup-category h2 .how-many {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

.ghost > div,
.ghost > span {
    visibility: hidden;
}
.ghost {
    border: dashed #AAAAAA;
}
.category .ghost      { /*width: 2em; height: 1.5em;*/ border-width: 0.25em; }   /* rel to body font */
.frou-category .ghost { width: 1em; height: 0.7em; border-width: 0.17em; }   /* rel to H2 font */

.how-many + .ghost {
    margin-left: 1em;
}

.valve {
    cursor: pointer;
    -webkit-user-select: none;    /*noinspection CssUnknownProperty*/
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

}
.valve-closed .closer,
.valve-opened .opener,
.valve-hidden {
    display: none;
}
.closer,
.opener {
    width: 1em;
    display: inline-block;
}

.double-anon {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter:                                    alpha(opacity=50);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                               -khtml-opacity: 0.50;   /* Safari 1.x */
                                                 -moz-opacity: 0.50;   /* Firefox */
                                                      opacity: 0.50;   /* Good browsers */
}