<!doctype html>
<html lang="en">
<head>
<title>Lex dump - qiki.info</title>
<meta charset="utf-8">
<!--suppress JSUnresolvedLibraryURL -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/{{ JQUERY_VERSION }}/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/{{ JQUERYUI_VERSION }}/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='qoolbar.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.hotkeys.js') }}"></script>
{# OR:  https://raw.githubusercontent.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js #}
<script src="//cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script>
$(document).ready(function() {
});
</script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<p>
    Hello Whirled!
</p>
<ol>
    {% for report in reports %}
        <li value="{{ report.i }}" title="word idn {{ report.idn_qstring }}">
            <span title="">
                <!--
                --><span title="word sbj {{ report.s_idn }}"><!--
                    -->{{ report.s }}<!--
                --></span><!--
                --> - <!--
                --><span title="word vrb {{ report.v_idn }}"><!--
                    -->{{ report.v }}{{ report.xn | safe }}<!--
                --></span><!--
                --> - <!--
                --><span title="word obj {{ report.o_idn }}"><!--
                    -->{{ report.o }}<!--
                --></span>
                {% if report.t != '' %}
                    ''{{ report.t }}''
                {% endif %}
            </span>
        </li>
    {% endfor %}
</ol>
</body>
</html>
