<!doctype html>
<html lang="en">
<head>
<title>Lex dump - {{ domain }} }}</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('qiki_javascript', filename='favicon.ico') }}">
</head>
<body>
<p>
    Hello Whirled!
</p>
<ol class="lex-list">
    {% for report in reports %}
        <li value="{{ report.i }}" title="word idn {{ report.idn_qstring }}">
            <span title="">
                <!--
                --><span title="word sbj {{ report.s_idn }}"><!--
                    -->{{ report.s }}<!--
                --></span><!--
                --> - <!--
                --><span title="word vrb {{ report.v_idn }}"><!--
                    -->{{ report.v }}{{ report.xn | safe }}<!--
                --></span><!--
                --> - <!--
                --><span title="word obj {{ report.o_idn }}"><!--
                    -->{{ report.o }}<!--
                --></span>
                {% if report.t != '' %}
                    ''{{ report.t }}''
                {% endif %}
            </span>
        </li>
    {% endfor %}
</ol>
</body>
</html>
